/* Brandon Cormier 
Student #: 8972402
*/
html {
    font: 20px "Fira Sans", sans-serif;
}
body {
    background-color: hsla(199, 70%, 52%, 0.4);
    height: 70vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}
h1{
    font-size: 2.5rem;
}
h2 {
    color: #f00;
    font-size: vh;
}

ul {
    list-style-type: lower-greek;
    line-height: 200%;

}

a {

    color: rgba(255, 99, 71, 0.5);
}

body {
    width: 100%;
}

aside {
   flex: 1 1 30%; 
}

main {
    flex: 2 1 70%;    
    font-size: small;
}

.structural {
    border: 5px red;
    margin: 1rem;
}

#first {
    color: rgb(92, 2, 20);
}

#second {
    color: rgb(255, 247, 20);
}

header {
    background-color: grey;
    width: 100%;
}

footer {
    background-color: grey;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

a:hover {
    color: #C0D;

}

footer p {
    font-size: small;

}
nav li a {
    padding: 1em;
}
nav li {
    display: inline;
    list-style: none;
}
nav a {
    border: 1em;
    background-color: cornsilk;
    text-decoration: none;
}
nav a:hover {
    border-color: cornsilk;
    color: cornsilk;
    background-color: indigo;
}
form {
    border: 1em;
    padding: 1em;
}
input[type=text] {
    width: 50%;
    display: block;
    height: 2em;
}
input[type=email] {
    width: 50%;
    display: block;
    height: 2em;
 }
 input[type=submit] {
    width: 50%;
    display: block;
    height: 2em;
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
 }
 select {
    width: 50%;
    display: block;
    height: 2em;
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
 }
 option {
    width: 50%;
    display: block;
    height: 2em;
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
 }
 input[type=radio] {
    height: 2em;
    width: 2em;
 }
 input[type=checkbox] {
    height: 2em;
    width: 2em;
 }
legend {
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}
label {
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}
textarea {
    width: 50%;
    display: block;
}
fieldset{
    border: none;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}
figure{
    border: 1px solid black;
}
img {
    height: 80%;
    width: 80%;
}
@media screen and (max-width: 600px){
    html {
        font-size: 10px;
    }
    #gallery {
        grid-template-columns: 1fr;
    }
section {
    flex-direction: column;
}


}