/* Brandon Cormier 
Student #: 8972402
*/
body {
    font: 1.2rem "Fira Sans", sans-serif;
    background-color: hsla(199, 70%, 52%, 0.4);
    height: 70vh;
    width: 70vw;

}

h2 {
    color: #f00;
    font-size: vh;
}

ul {
    list-style-type: lower-greek;
    line-height: 200%;

}

a {

    color: rgba(255, 99, 71, 0.5);
}

body {
    width: 100%;
}

aside {
    float: right;
    width: 20%;
}

main {
    width: 70%;
    float: left;
    font-size: small;
}

.structural {
    padding: 8px;
    border: 5px red;
    margin: auto;
}

#first {
    color: rgb(92, 2, 20);
}

#second {
    color: rgb(255, 247, 20);
}

header {
    background-color: grey;
    width: 100%;
}

footer {
    background-color: grey;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10;
}

a:hover {
    color: #C0D;

}

footer p {
    font-size: small;

}
nav li {
    display: inline;
    list-style: none;
}
nav a {
    border: 2px;
    background-color: cornsilk;
    text-decoration: none;
}
nav a:hover {
    border-color: cornsilk;
    color: cornsilk;
    background-color: indigo;
}
form {
    border: 5px;
    padding: 5px;
}
input[type=text] {
    width: 50%;
    display: block;
    height: 2em;
}
input[type=email] {
    width: 50%;
    display: block;
    height: 2em;
 }
 input[type=submit] {
    width: 50%;
    display: block;
    height: 2em;
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
 }
 select {
    width: 50%;
    display: block;
    height: 2em;
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
 }
 option {
    width: 50%;
    display: block;
    height: 2em;
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
 }
 input[type=radio] {
    height: 2em;
    width: 2em;
 }
 input[type=checkbox] {
    height: 2em;
    width: 2em;
 }
legend {
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}
label {
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}
textarea {
    width: 50%;
    display: block;
}
fieldset{
    border: none;
}
