/*
Brandon Cormier
276199908
*/
body {
    width: 80%;
    max-width: 100%;
    margin: 10px;
    font: 1.2rem "Fira Sans", sans-serif;
    padding-bottom: 200px;
    padding-left: 20px;
}

.headandfoot {
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 7px;
}

h1,
h2 {
    font-variant: small-caps;
}

footer>p {
    font-size: smaller;
    color: darkred;
}

aside {
    float: right;
    margin-left: 40px;
    width: 20%;
    padding: 10px;
    margin: auto;
}

main {
    width: 100%;
    padding: 10px;
    margin: auto;
}

.mainimg {
    height: 300px;
    border: 3px solid black;
}

figcaption {
    font-variant: small-caps;
    font-weight: bold;
}

q {
    font-family: cursive;
    font-style: italic;
    font-size: larger;
}
ul > li{
list-style: none;
line-height: 1.5;
}
ul > li > a {
   text-decoration: none;
   color: darkred;
}
ul >li > a:hover {
    color: black;
}
